<div class="content" role="main">
  <div class="calc-container">
    <div class="output">
      <div class="first-operand">{{firstOperand}} {{operator}}</div>
      <div class="second-operand">{{secondOperand}}</div>
    </div>
    <button class="span-two" (click)="allClear()">AC</button>
    <button>DEL</button>
    <button (click)="insertOperator('÷')">÷</button>
    <button (click)="insertNumber('1')">1</button>
    <button (click)="insertNumber('2')">2</button>
    <button (click)="insertNumber('3')"> 3</button>
    <button (click)="insertOperator('*')">*</button>
    <button (click)="insertNumber('4')">4</button>
    <button (click)="insertNumber('5')">5</button>
    <button (click)="insertNumber('6')">6</button>
    <button (click)="insertOperator('+')">+</button>
    <button (click)="insertNumber('7')">7</button>
    <button (click)="insertNumber('8')">8</button>
    <button (click)="insertNumber('9')">9</button>
    <button (click)="insertOperator('-')">-</button>
    <button disabled>.</button>
    <button (click)="insertNumber('0')">0</button>
    <button [disabled]="!firstOperand" class="span-two" (click)="runCalculation()">=</button>
    <div class="output">
      <div class="second-operand">{{calculation}}</div>
    </div>

   
  </div>

  <router-outlet></router-outlet>