  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 8px 0;
  }

  p {
      margin: 0;
  }



  .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
  }


  .calc-container {
      display: grid;
      justify-content: center;
      align-content: center;
      min-height: 100vh;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }

  .calc-container>button {
      cursor: pointer;
      font-size: 2rem;
      border: 1px, solid #FFFFFF;
      outline: none;
      background-color: rbga(255, 255, 255, 0.75);
  }

  .calc-container>button:hover {
      background-color: #a9a9a9;
  }

  .span-two {
      grid-column: span 2;
      color: #adf802;
      background-color: rgba(139, 0, 139, 0.8);
  }

  .output {
      grid-column: 1 / -1;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      flex-direction: column;
      padding: 10px;
      word-wrap: break-word;
      word-break: break-all;
  }

  .output .first-operand {
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.5rem;
  }

  .output .second-operand {
      color: white;
      font-size: 2.5rem;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {}

  @media screen and (max-width: 575px) {}